.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .result-container {
        background-color: rgba(255, 255, 255, 0.39);
        box-shadow: 2px 4px 7px 0 rgba(0, 0, 0, 0.329);
        border-radius: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 600px;
        .message {
            font-size: 30px;
            text-align: center;
        }
        .results {
            display: flex;
            flex-direction: column;
            span {
                font-size: 20px;
            }
        }
        .start-over {
            .try-again {
                font-size: 25px;
                padding: 10px 20px;
                background-color: rgb(49, 49, 255);
                color: white;
                border: solid 1px transparent;
                border-radius: 15px;
                transition: 400ms;
                &:hover {
                    border-color: rgb(49, 49, 255);
                    background-color: rgba(255, 255, 255, 0.486);
                    color: rgb(49, 49, 255);
                }
            }
        }
    }
}
@media only screen and (max-width: 460px) {
    .body {
        .result-container {
            .message {
                font-size: 20px;
            }
        }
    }
}
